<h1>Bug Tracker</h1>
<hr>
<section class="stats">
	<span class="closed">{{bugs | closedCount}}</span>
	<span> / </span>
	<span>{{bugs.length}}</span>
</section>
<section class="sort">
	<label for="">Order By :</label>
	<select [(ngModel)]="bugSortBy">
		<option value="id">[Default]</option>
		<option value="name">Name</option>
		<option value="isClosed">Status</option>
	</select>
	<label for="">Descending ? :</label>
	<input type="checkbox" [(ngModel)]="isDescending">
</section>
<section class="edit">
	<label for="">New Bug :</label>
	<input type="text" [(ngModel)]="newBugName">
	<input type="button" value="Create New" (click)="onCreateNewClick()">
</section>
<section class="list">
	<ol>
		<li *ngFor="let bug of ( bugs | sort:bugSortBy:isDescending )">
			<span class="bugname" 
				(click)="onBugNameClick(bug)"
				[ngClass]="{closed : bug.isClosed}"
			>{{bug.name | trimText}} <i>[{{bug.id}}]</i></span>
			<div class="datetime">{{bug.createdAt | elapsed }}</div>
		</li>
	</ol>
	<input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>